<h1>Listing groups</h1>

<table>
  <thead>
    <tr>
      <th>Group code</th>
      <th>School name</th>
      <th>Group leader</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.group_code %></td>
        <td><%= group.school_name %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--
<strong>Import using athletes.csv file</strong>
<%= form_tag import_groups_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
-->

<%= link_to 'New Group', new_group_path %>
