<!DOCTYPE html>
<html lang="en">

<!-- Header info -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Events</title>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

  </head>

<p id="notice"><%= notice %></p>
  <body> 

    <div class="container-fluid">
      <div class="row">


          <h1 class="page-header">Events</h1>
          <!-- Add event button -->
	  <%= button_to 'Add Event', new_event_path, method: :get%>  

          <!-- Events table -->
          <div class="table-responsive">
            <table class="table table-striped">
  	      <thead>
                <tr>
      		    <th>Event ID</th>
      		    <th>Event Code</th>
      		    <th>Event Name</th>
     		    <th>Score Unit</th>
      		    <th>Min Score</th>
      		    <th>Max Score</th>
      		    <th>Sort Seq</th>
      		    <th></th>
    	        </tr>
 	      </thead>
             <tbody>
             <% @events.each do |event| %>
               <tr>
                 <td><%= event.id %></td>
       		 <td><%= event.event_code %></td>
       		 <td><%= event.event_name %></td>
     	   	 <td><%= event.score_unit %></td>
        	 <td><%= event.min_score %></td>
       		 <td><%= event.max_score %></td>
      		 <td><%= event.sort_seq %></td>
                 <!-- Edit and delete buttons -->
		 <td><div class="btn-group">  
		   <button class="btn">Action</button>
		   <button class="btn dropdown-toggle" data-toggle="dropdown">
		     <span class="caret"></span>
		   </button>
		   <u1 class="dropdown-menu">      	
        	     <li><%= button_to 'Edit', edit_event_path(event), method: :get%></li>
        	     <li><%= button_to 'Delete', event, data: { confirm: 'Are you sure?' }, method: :delete%></li></u1></div></td>
      	       </tr>
             <% end %>
           </tbody>
            
            </table>
          </div>
        </div>
      </div>

      <!-- File import options 
      <br>
      <strong>Import using events.csv file</strong>
      <%= form_tag import_events_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
      <% end %>
      -->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>










